@using FinalUniProject.Controllers;
@{
    ViewBag.Title = "Statistics";
}

<div class="ww trend-stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 centered">
                <h1>The Vital Statistics</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 centered">
                <h2>Top Trends (Overall)</h2>
                <div class="topTrends col-md-offset-1">
                    <ol>
                        @foreach (var entity in ViewBag.TopEntities)
                        {
                            <li>
                                <a class="entity-tweets-link" href="#@entity.databaseID">@entity.Name</a> - <span class="tweet-count">@entity.tweets.Count tweets</span>
                                <div style="display:none;" id="@entity.databaseID" class="entity-tweets">
                                    <h3>Tweets for <strong>@entity.Name</strong></h3>
                                    <div class="holder"></div>
                                    <ol class="tweet-list" id="@entity.databaseID">
                                        @for (int i = 0; i < entity.tweets.Count; i++)
                                        {
                                            if (i < 20)
                                            {
                                                <li>
                                                    <div class="tweet-avatar">
                                                        <img alt="@entity.tweets[i].User" src="@entity.tweets[i].ImageUrl" />
                                                    </div>
                                                    <div class="tweet-main">
                                                        <div class="tweet-text">
                                                            @Html.Raw(entity.tweets[i].Text)
                                                        </div>
                                                        <div class="tweet-foot">
                                                            @entity.tweets[i].User - @entity.tweets[i].CreatedAt
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ol>
                                </div>
                            </li>
                        }
                    </ol>

                </div>
                <h2>Entity Types by Percentage</h2>
                <div class="topTrends col-md-offset-1 centered">
                    <ol id="percentages">
                        @foreach (PercentagesByType stat in ViewBag.Percentages)
                        {
                            <li>@stat.Type - @stat.Percentage.ToString()%</li>
                        }
                    </ol>
                </div>
                <h2>Other Stats</h2>
                <div class="topTrends col-md-offset-1 centered">
                   <h1 style="text-transform:uppercase;font-weight:bolder;color:#666;font-size:1.5em;">TOTAL TWEETS: @ViewBag.TweetCount.Count</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Trends about <i>People</i></h3>
                <div class="topTrends">
                    <ol id="people-trends">
                        @foreach (var entity in ViewBag.People)
                        {
                            <li>@entity.Name</li>
                        }
                    </ol>
                </div>
                <h3>Trends about <i>Places</i></h3>
                <div class="topTrends">
                    <ol id="place-trends">
                        @foreach (var entity in ViewBag.Places)
                        {
                            <li>@entity.Name</li>
                        }
                    </ol>
                </div>
                <h3>Trends about <i>Organisations</i></h3>
                <div class="topTrends">
                    <ol id="organsation-trends">
                        @foreach (var entity in ViewBag.Organisations)
                        {
                            <li>@entity.Name</li>
                        }
                    </ol>
                </div>
                <h3>Trending Right Now</h3>
                <div class="topTrends">
                    <ol id="organsation-trends">
                        @foreach (var entity in ViewBag.LastUpdated)
                        {
                            <li>@entity.Name</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
